@import "bs/bootstrap";
@import "slick";

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../fonts/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'),
  url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../fonts/MuseoSansCyrl-300Italic.eot');
  src: local('MuseoSansCyrl-300Italic'),
  url('../fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../fonts/MuseoSansCyrl-500Italic.eot');
  src: local('MuseoSansCyrl-500Italic'),
  url('../fonts/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-500Italic.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-500Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../fonts/MuseoSansCyrl-900.eot');
  src: local('MuseoSansCyrl-900'),
  url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
  url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/MuseoSansCyrl-700Italic.eot');
  src: local('MuseoSansCyrl-700Italic'),
  url('../fonts/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-700Italic.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-700Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'),
  url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../fonts/MuseoSansCyrl-100.eot');
  src: local('MuseoSansCyrl-100'),
  url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../fonts/MuseoSansCyrl-100Italic.eot');
  src: local('MuseoSansCyrl-100Italic'),
  url('../fonts/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-100Italic.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-100Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../fonts/MuseoSansCyrl-900Italic.eot');
  src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'),
  url('../fonts/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl-900Italic.woff') format('woff'),
  url('../fonts/MuseoSansCyrl-900Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

$font-100: 'Museo Sans Cyrl 100', serif;
$font-300: 'Museo Sans Cyrl 300', serif;
$font-500: 'Museo Sans Cyrl 500', serif;
$font-700: 'Museo Sans Cyrl 700', serif;
$font-900: 'Museo Sans Cyrl 900', serif;

$color-lightblue: #16a1ff;
$color-warm-grey: #898989;

*,*:focus,*:active {
  outline: none !important;
}

body {
  background-color: #ffffff;
  font-size: 14px;
  font-family: $font-300;
  color: #141414;
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  @media (max-width: 767px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.mod-title {
  font-family: $font-100;
  font-size: 48px;
  line-height: 1.33;
  letter-spacing: 0.8px;
  margin: 0;
  @media (max-width: 1024px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: 0.2px;
  }
}
.t-m {
  @media (max-width: 767px) {
    height: 100vh;
    display: table;
    width: 100%;
    padding: 16px 0;
  }
}
.t-cell-m {
  @media (max-width: 767px) {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    margin: 0;
  }
}

//1
.b-first {
  text-align: center;
  background-color: #000000;
  height: 700px;
  background-image: url(../images/top-lg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 0 310px;
  &__logo {
    @media (max-width: 767px) {
      position: absolute;
      width: 100%;
      top: 16px;
    }
  }
  &__slogan {
    margin-top: 250px;
    span {
      display: inline-block;
      background-color: #ffffff;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 40px;
      padding: 20px 34px;
      letter-spacing: 0.8px;
      color: #141414;
      @media (max-width: 767px) {
        font-size: 12px;
        padding: 12px 20px;
      }
    }
    @media (max-width: 1024px) {
      margin-top: 210px;
    }
    @media (max-width: 767px) {
      margin: 0;
    }
  }
  @media (max-width: 1024px) {
    height: 630px;
  }
  @media (max-width: 767px) {
    padding: 16px 0;
    height: 100vh;
    background-image: url(../images/top-sm.jpg);
  }
  @media (max-width: 560px) {
    background-image: url(../images/bg-top-optimized.jpg);
  }
}

//2
.b-second {
  background-color: #000000;
  background-image: linear-gradient(119deg, #242424, #000000);
  color: #ffffff;
  padding: 210px 0;
  text-align: center;
  @media (max-width: 767px) {
    padding: 88px 20px;
  }
  &__i {
    font-family: $font-900;
    color: #ffffff;
    margin-bottom: 32px;
    img {
      @media (max-width: 767px) {
        width: 100px;
      }
    }
  }
  &__title {
    font-family: $font-100;
    font-size: 68px;
    line-height: 1.18;
    margin-bottom: 32px;
    letter-spacing: -2px;
    opacity: 0.88;
    @media (max-width: 1024px) {
      font-size: 60px;
      line-height: 1.2;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 1.42;
    }
  }
  &__subtitle {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.4px;
    img {
      vertical-align: baseline;
    }
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

//3
.b-third {
  padding: 140px 0 120px;
  background-color: $color-lightblue;
  color: #ffffff;
  text-align: center;
  @media (max-width: 767px) {
    padding: 92px 20px;
  }
  &__item {
    @media (max-width: 1024px) {
      &:not(.last) {
        margin-bottom: 72px;
      }
    }
  }
  &__value {
    font-family: $font-900;
    font-size: 66px;
    line-height: normal;
    letter-spacing: -2px;
    margin-bottom: 4px;
    @media (max-width: 767px) {
      font-size: 48px;
      letter-spacing: -1.4px;
    }
  }
  &__desc {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.4px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

//4
.b-fourth {
  padding: 140px 0 64px;
  background-color: #fdfdfd;
  .mod-title {
    margin-bottom: 140px;
    @media (max-width: 1024px) {
      margin-bottom: 56px;
    }
    @media (max-width: 767px) {
      margin-bottom: 38px;
    }
  }
  &__item {
    @media (max-width: 1024px) {
      margin-bottom: 48px;
    }
    @media (max-width: 767px) {
      &:not(.last) {
        margin-bottom: 32px;
      }
    }
  }
  &__i {
    margin-bottom: 25px;
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
    img {
      @media (max-width: 767px) {
        height: 48px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 9px;
    font-size: 16px;
    font-family: $font-700;
    line-height: 1.38;
    letter-spacing: 0.8px;
    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 4px;
    }
  }
  &__text {
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.83;
    }
  }
  @media (max-width: 1024px) {
    padding: 110px 0 60px;
  }
  @media (max-width: 767px) {
    padding: 64px 0;
  }

}

//5
.b-fifth {
  padding: 140px 0 125px;
  background-image: linear-gradient(228deg, #eefaff, #f0f7ff);
  @media (max-width: 1024px) {
    padding: 110px 0 90px;
  }
  @media (max-width: 767px) {
    padding: 64px 0 56px;
  }
  .mod-title {
    margin-bottom: 100px;
    @media (max-width: 1024px) {
      margin-bottom: 90px;
    }
    @media (max-width: 767px) {
      margin-bottom: 64px;
    }
  }
  .container {
    @media (max-width: 1024px) {
      width: 100%;
      max-width: none;
    }
  }
  &__delimiter {
    margin: 64px 0 54px;
    @media (max-width: 767px) {
      margin: 64px 0;
    }
  }
  &__delimiter-i {
    margin-bottom: 16px;
  }
  &__delimiter-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #141414;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &__row {
    position: relative;
    z-index: 0;
    @media (max-width: 1024px) {
      margin-left: -24px;
      margin-right: -24px;
    }
    .card-active {
      .c-hide {
        display: inline-block;
      }
      .c-open {
        display: none;
      }
      .b-fifth__card-text {
        height: auto;
        &:after {
          display: none;
        }
      }
    }
  }
  &__col {
    position: relative;
    &.active {
      z-index: 2;
    }
  }
  .c-hide {
    display: none;
  }
  &__card {
    position: relative;
    height: 180px;
    box-shadow: 1px 0 0 0 #d1e1eb,
    0 1px 0 0 #d1e1eb, 1px 1px 0 0 #d1e1eb,
    1px 0 0 0 #d1e1eb inset, 0 1px 0 0 #d1e1eb inset;
    @media (max-width: 767px) {
      height: auto;
    }
  }
  &__card-wrap {
    min-height: 180px;
    background-color: #ffffff;
    box-shadow: 1px 0 0 0 #d1e1eb,
    0 1px 0 0 #d1e1eb, 1px 1px 0 0 #d1e1eb,
    1px 0 0 0 #d1e1eb inset, 0 1px 0 0 #d1e1eb inset;
    padding: 32px 48px;
    @media (max-width: 767px) {
      min-height: 0;
      padding: 24px;
    }
  }
  &__card-title {
    font-size: 16px;
    font-family: $font-700;
    line-height: 1.38;
    letter-spacing: 0.8px;
    color: #16a1ff;
    margin-bottom: 12px;
  }
  &__card-text {
    position: relative;
    height: 46px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #141414;
    margin-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &__card-more {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    font-family: $font-500;
    line-height: 1.4;
    letter-spacing: 0.6px;
    color: #ababab;
    &:hover {
      color: $color-lightblue;
    }
  }
  &__card-dev {
    display: table-cell;
    vertical-align: middle;
    height: 116px;
    letter-spacing: 0.4px;
    color: #ababab;
  }
}

//6
.b-sixth {

  &__item {
    display: table;
    width: 100%;
    position: relative;
    height: 400px;
    border: solid 1px #ffffff;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
    padding: 32px;
    font-family: $font-700;
    font-size: 16px;
    @media (max-width: 1024px) {
      height: 263px;
      color: #ffffff !important;
      border: none;
      font-size: 16px;
      padding: 40px;
    }
    @media (max-width: 767px) {
      height: 200px;
      font-size: 12px;
      padding: 24px;
    }
    span {
      background-position: right center;
      background-repeat: no-repeat;
      @media (max-width: 1024px) {
        background-image: url(../images/i-eye.svg);
      }
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0.08;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      @media (max-width: 1024px) {
        opacity: 1;
      }
    }
    &.item-01 {
      color: #0065ff;
      &:before {
        background-image: linear-gradient(318deg, #096aff, #0046b1);
      }
    }
    &.item-02 {
      color: #2e2e2e;
      &:before {
        background-image: linear-gradient(42deg, #5e5d5d, #2e2e2e);
      }
    }
    &.item-03 {
      color: #ff00aa;
      &:before {
        background-image: linear-gradient(222deg, #ff83b2, #ff44e2);
      }
    }
    &.item-04 {
      color: #ff6600;
      &:before {
        background-image: linear-gradient(138deg, #ffa801, #ff6600);
      }
    }
    &:hover {
      color: #ffffff !important;
      &:before {
        opacity: 1;
      }
      span {
        background-image: url(../images/i-eye.svg);
      }
    }
    &:hover, &:focus, &:active {
      text-decoration: none !important;
    }
    span {
      position: relative;
      z-index: 1;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
  }
  &__desc-wrap {
    text-align: right;
    padding-right: 120px;
    @media (max-width: 1024px) {
      text-align: left;
      padding: 0;
    }
    @media (min-width: 1025px) and (max-width: 1230px){
      padding-left: 24px;
    }
  }
  &__desc {
    text-align: left;
    display: inline-block;
    width: 475px;

    .mod-title {
      margin-bottom: 32px;
      @media (max-width: 1024px) {
        margin-bottom: 16px;
      }
    }
    @media (max-width: 1024px) {
      width: 100%;
      padding: 110px 120px 72px 65px;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding: 64px 24px 54px;
    }
  }
  &__text {
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #141414;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

//7
.b-seventh {
  position: relative;
  padding: 140px 0 180px;
  @media (max-width: 1024px) {
    padding: 80px 0;
  }
  @media (max-width: 767px) {
    padding: 64px 0 56px;
  }
  .mod-title {
    margin-bottom: 56px;
    @media (max-width: 1024px) {
      margin-bottom: 56px;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 32px 72px 32px 32px;
    box-shadow: 1px 0 0 0 #0098ff, 0 1px 0 0 #0098ff, 1px 1px 0 0 #0098ff, 1px 0 0 0 #0098ff inset, 0 1px 0 0 #0098ff inset;
    color: #0098ff;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
    font-family: $font-500;
    line-height: 1.38;
    &:hover,&:focus, &:active {
      background-color: #0098ff;
      color: #ffffff;
      text-decoration: none;
      background-image: url(../images/i-eye.svg);
      background-position: right 20px center;
      background-repeat: no-repeat;
    }
    span {

    }
    @media (max-width: 1024px) {
      background-image: url(../images/i-eye-blue.svg);
      background-position: right 20px center;
      background-repeat: no-repeat;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 1.57;
      padding: 26px 76px 26px 20px;

    }
  }
  &:after {
    position: absolute;
    bottom: 72px;
    left: 50%;
    margin-left: -7px;
    content: '';
    width: 14px;
    height: 8px;
    background-size: 14px 8px;
    background-image: url(../images/i-code.svg);
    background-repeat: no-repeat;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

//8
.b-eighth {
  padding: 140px 0 56px;
  background-image: linear-gradient(119deg, #54d5ff, #49b5ff);
  color: #ffffff;
  overflow: hidden;
  @media (max-width: 1024px) {
    padding: 110px 0 64px;
  }
  @media (max-width: 767px) {
    padding: 64px 0 13px;
  }
  .mod-title {
    margin-bottom: 130px;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      margin-bottom: 12px;
    }
  }
  .mod-subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.4px;
    padding-top: 10px;
    @media (max-width: 1024px) {
      margin-bottom: 72px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 40px;
    }
  }
  &__item {
    background-color: #ffffff;
    color: #141414;
    padding: 40px 36px;
    width: 378px;
    margin-right: 8px;
    cursor: move;
    @media (max-width: 767px) {
      width: 274px;
      padding: 24px 20px;
      margin-right: 2px;
    }
  }
  &__item-img {
    margin-bottom: 24px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
    img {
      max-height: 64px;
      @media (max-width: 767px) {
        height: 48px;
      }
    }
  }
  &__item-title {
    font-size: 16px;
    font-family: $font-700;
    text-transform: uppercase;
    line-height: 1.38;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 4px;
    }
  }
  &__item-text {
    line-height: 1.71;
    letter-spacing: 0.4px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &__codeschool {
    margin-top: 32px;
    img {
      display: inline-block;
    }
    a {
      display: inline-block;
      float: right;
      line-height: 24px;
      vertical-align: top;
      color: #302683;
      text-transform: uppercase;
      font-size: 10px;
      &:hover, &:focus, &:active {
        color: #0098ff;
        text-decoration: none !important;
      }
    }
  }
  .slick-list {
    overflow: visible;
  }
}

//9
.b-ninth {
  padding: 140px 0 100px;
  overflow: hidden;
  background-color: #fdfdfd;
  .container {
    @media (max-width: 1024px) {
      width: 100%;
      max-width: none;
    }
    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (max-width: 1024px) {
    padding: 80px 0;
  }
  @media (max-width: 767px) {
    padding: 64px 0 56px;
  }
  .mod-title {
    margin-bottom: 80px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  .jumbotron {
    height: 505px;
    color: #ffffff;
    padding-right: 20px;
    display: flex;
    flex-flow: column nowrap;
    @media (max-width: 767px) {
      padding: 32px 24px;
      height: 302px;
    }
  }
  &__main {

  }
  &__main-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__main-title {
    font-size: 32px;
    font-family: $font-900;
    line-height: 1.25;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 1.29;
      margin-bottom: 8px;
    }
  }
  &__main-text {
    font-size: 18px;
    font-family: $font-300;
    line-height: 1.44;
    letter-spacing: 0.4px;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &__main-more {
    margin-top:auto;
    a {
      font-size: 10px;
      line-height: 1.4;
      letter-spacing: 0.6px;
      color: #ffffff;
      text-transform: uppercase;
      &:hover, &:focus, &:active {
        color: #ffffff;
        text-decoration: none !important;
      }
    }
  }
  &__main-progress {
    height: 6px;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
  }
  &__controls-item {
    width: 232px;
    img {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 112px;
    }
  }
  &__controls-arrows {
    button {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      text-indent: -2000px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-size: 20px;
      cursor: pointer;
      &.slick-prev {
        left: 24px;
        background-image: url(../images/i-prev.svg);
        @media (max-width: 767px) {
          left: 12px;
        }
      }
      &.slick-next {
        right: 24px;
        background-image: url(../images/i-next.svg);
        @media (max-width: 767px) {
          right: 12px;
        }
      }
    }
  }
}

//10
.b-tenth {
  @media (max-width: 1024px) {
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
  }
  .mod-title {
    line-height: 250px;
    padding: 0;
    @media (max-width: 1024px) {
      line-height: 1.27;
      margin-bottom: 40px;
    }
  }
  .wrote {
    position: absolute;
    right: 18px;
    bottom: 28px;
    font-size: 14px;
    font-family: $font-300;
    line-height: 13px;
    letter-spacing: 0.4px;
    color: #9F9F9F;
    img {
      vertical-align: middle;
    }
    @media (max-width: 1024px) {
      position: static;
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  &__item {
    position: relative;
    display: block;
    height: 250px;
    padding-top: 87px;
    border-left: 1px solid #cdcdcd;
    @media (max-width: 1024px) {
      border-left: none;
      border-right: 1px solid #ffffff;
      height: 250px;
      padding-top: 90px;
      &.item-tg:after {
        background-image: linear-gradient(141deg, #26d7ff, #0088cc);
        opacity: 1;
      }
      &.item-wa:after {
        background-image: linear-gradient(141deg, #04c6b6, #05ab98);
        opacity: 1;
      }
      &.item-sk:after {
        background-image: linear-gradient(141deg, #51e8ff, #00aff0);
        opacity: 1;
      }
      .normal {
        display: none !important;
      }
      .hover {
        display: inline-block !important;
      }
      &.last {
        border-right: none;
      }
    }
    @media (max-width: 767px) {
      height: 122px;
      padding-top: 46px;
    }
    .normal {
      display: inline-block;
    }
    .hover {
      display: none;
    }
    &:after {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }
    &.item-tg {
      color: #0095df;
    }
    &.item-wa {
      color: #11978d;
    }
    &.item-sk {
      color: #00aae9;
    }
    &:hover,&:focus,&:active {
      background-color: #ffffff;
      color: #ffffff !important;
      text-decoration: none;
      .normal {
        display: none;
      }
      .hover {
        display: inline-block;
      }
      &.item-tg:after {
        background-image: linear-gradient(141deg, #26d7ff, #0088cc);
        opacity: 1;
      }
      &.item-wa:after {
        background-image: linear-gradient(141deg, #04c6b6, #05ab98);
        opacity: 1;
      }
      &.item-sk:after {
        background-image: linear-gradient(141deg, #51e8ff, #00aff0);
        opacity: 1;
      }
    }
  }
  &__item-img {
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    img {
      height: 40px;
    }
  }
  &__item-title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $font-700;
    line-height: 1.38;
    letter-spacing: 0.8px;
    @media (max-width: 1024px) {
      color: #ffffff !important;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

//11
.b-eleventh {
  padding: 140px 0 120px;
  background-color: #fafaff;
  text-align: center;
  @media (max-width: 767px) {
    padding: 82px 0 76px;
  }
  &__title {
    font-family: $font-900;
    font-size: 66px;
    color: #171749;
    margin-bottom: 22px;
    letter-spacing: -2px;
    span {
      font-family: $font-700;
      font-size: 40px;
      @media (max-width: 767px) {
        font-size: 32px;
      }
    }
    @media (max-width: 767px) {
      font-size: 40px;
      letter-spacing: -1.2px;
      margin-bottom: 18px;
    }
  }
  &__desc {
    font-family: $font-300;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.4px;
    margin-bottom: 48px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 40px;
    }
  }
  &__subtitle {
    font-family: $font-700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 26px;
    }
  }
  &__steps {
    text-align: left;
    @media (max-width: 767px) {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
  &__step {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: #ffffff;
    background-size: auto 40px;
    background-repeat: no-repeat;
    box-shadow:
            1px 0 0 0 #d1d1e1,
            0 1px 0 0 #d1d1e1,
            1px 1px 0 0 #d1d1e1,   /* Just to fix the corner */
            1px 0 0 0 #d1d1e1 inset,
            0 1px 0 0 #d1d1e1 inset;
    padding: 15px 32px 15px 80px;
    background-position: left 26px center;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #171749;
    @media (max-width: 767px) {
      padding: 26px 84px 28px 64px;
      font-size: 12px;
      line-height: 1.5;
      background-size: auto 32px;
      span.hover {
        opacity: 1 !important;
        display: block;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -6px;
      }
    }
    &.step-01 {
      background-image: url(../images/i-n-1.svg);
      background-position: left 31px center;
      @media (max-width: 767px) {
        background-position: left 25px center;
      }
    }
    &.step-02 {
      background-image: url(../images/i-n-2.svg);
      background-position: left 29px center;
      @media (max-width: 767px) {
        background-position: left 24px center;
      }
    }
    &.step-03 {
      background-image: url(../images/i-n-3.svg);
      background-position: left 29px center;
      @media (max-width: 767px) {
        padding-top: 26px;
        background-position: left 23px center;
      }
    }
    &.step-last {
      background-image: url(../images/i-n-last.svg);
      @media (max-width: 767px) {
        padding-top: 26px;
        padding-right: 40px;
        background-position: left 23px center;
      }
    }
    span {
      display: block;
      width: 100%;
    }
    span.hover {
      display: inline-block;
      width: auto;
      float: right;
      text-transform: uppercase;
      font-size: 10px;
      font-family: $font-500;
      letter-spacing: 0.6px;
      color: #141414;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover, &:focus, &:active {
      background-color: #fbfbff;
      text-decoration: none;
      color: #171749;
      span.hover {
        opacity: 1;
      }
    }
  }
}

//12
.b-twelfth {
  text-align: center;
  background-color: #fafaff;
  padding-bottom: 24px;
  font-size: 12px;
  color: $color-warm-grey;
  line-height: 1.33;
  letter-spacing: 0.4px;
  &__gridly {

  }
  &__skyeng {
    margin-top: 22px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

//Modals
.modal-dialog {
  @media (max-width: 1024px) {
    margin: 15px;
    max-width: none;
  }
  @media (max-width: 767px) {
    margin: 0;
    width: 100%;
  }
}
button.close {
  @media (max-width: 1024px) {
    top: 15px;
    right: 15px;
    z-index: 100;
    background-image: url(../images/i-close-grey.svg);
    display: block;
    width: 80px;
    height: 80px;
    padding-top: 40px;
    background-size: 24px;
    background-position: center top 22px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-shadow: 0 2px 16px 0 rgba(20, 20, 20, 0.16);
    color: #1d2124;
    img {
      display: none;
    }
  }
  @media (max-width: 767px) {
    top: 30px;
    right: 22px;
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-position: center;
    img {
      display: none;
    }
    span.d-block {
      display: none !important;
    }
  }
}

.b-modal {
  h3.modal-title {
    margin: 0 0 32px;
    font-size: 16px;
    font-family: $font-700;
    text-transform: uppercase;
    line-height: 1.38;
    letter-spacing: 0.8px;
    color: #000000;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.83;
      margin-bottom: 16px;
    }
  }
  h4.modal-subtitle {
    font-size: 16px;
    font-family: $font-700;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: $color-lightblue;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 1.57;
    }
  }
  &__top {

    ul {
      padding-left: 20px;
      line-height: 1.57;
      letter-spacing: 0.2px;
      color: #141414;
    }
    li {

    }
  }
  &__top-wrap {
    padding: 56px 80px;
    @media (max-width: 767px) {
      padding: 40px 24px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &__top-cell {
    padding: 15px;
    font-size: 12px;
    font-family: $font-500;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #141414;
    @media (max-width: 767px) {
      border-top: 1px solid #cdcdcd;
    }
  }
  &__top-buttons {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    .col:not(:last-child) {
      border-right: 1px solid #cdcdcd;
    }
    @media (max-width: 767px) {
      border-top: none;
    }
  }
  &__bottom {
    background-color: #f7fbff;
    padding: 56px 0 72px;
    @media (max-width: 767px) {
      padding: 40px 0 56px;
    }
    h4.modal-subtitle {
      color: #141414;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        margin-bottom: 34px;
      }
    }
  }
  &__bottom-wrap {
    padding: 0 80px;
    overflow: hidden;
    @media (max-width: 767px) {
      padding: 0 24px;
    }
  }
  &__bottom-form {
    margin-bottom: 48px;
    @media (max-width: 767px) {
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 40px;
    }
  }
  &__bottom-inputbox {
    width: 100%;
    height: 48px;
    line-height: 20px;
    padding: 14px 20px;
    font-size: 12px;
    font-family: $font-300;
    letter-spacing: 0.4px;
    color: #898989;
    border: none;
    box-shadow: 1px 0 0 0 #cdcdcd,
                0 1px 0 0 #cdcdcd,
                1px 1px 0 0 #cdcdcd,
                1px 0 0 0 #cdcdcd inset,
                0 1px 0 0 #cdcdcd inset;
  }
  &__bottom-textarea {
    width: 100%;
    height: 110px;
    line-height: 20px;
    padding: 14px 20px;
    font-size: 12px;
    font-family: $font-300;
    letter-spacing: 0.4px;
    color: #898989;
    border: none;
    box-shadow: 1px 0 0 0 #cdcdcd,
    0 1px 0 0 #cdcdcd,
    1px 1px 0 0 #cdcdcd,
    1px 0 0 0 #cdcdcd inset,
    0 1px 0 0 #cdcdcd inset;
    display: block;
    margin: 0;
    resize: none;
  }
  &__bottom-submit {
    display: block;
    width: 100%;
    height: 48px;
    opacity: 0.5;
    background-color: $color-lightblue;
    color: #ffffff;
    box-shadow: 1px 0 0 0 $color-lightblue,
    0 1px 0 0 $color-lightblue,
    1px 1px 0 0 $color-lightblue,
    1px 0 0 0 $color-lightblue inset,
    0 1px 0 0 $color-lightblue inset;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-family: $font-700;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.6px;
    &:hover, &:focus, &:active {
      opacity: 1;
    }
  }
  .f-file-container {
    position: relative;
    box-shadow: 1px 0 0 0 #cdcdcd,
    0 1px 0 0 #cdcdcd,
    1px 1px 0 0 #cdcdcd,
    1px 0 0 0 #cdcdcd inset,
    0 1px 0 0 #cdcdcd inset;
  }
  .f-file {
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    text-align: center;
    color: #ACACAC;
    img {
      margin-right: 16px;
    }
  }
  &__bottom-file {
    position: absolute;
    z-index: 1%;
    width: 100%;
    height: 48px;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
  }
  &__bottom-social {
    text-align: center;
    font-size: 0;
    a {
      display: inline-block;
      width: 50px;
      height: 36px;
      line-height: 36px;
      box-shadow: 1px 0 0 0 #cdcdcd,
      0 1px 0 0 #cdcdcd,
      1px 1px 0 0 #cdcdcd,
      1px 0 0 0 #cdcdcd inset,
      0 1px 0 0 #cdcdcd inset;
    }
  }
  &__video {
    background-image: url(../images/bg-modal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__video-play {
    padding: 130px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    &.bg-blue {
      background-image: linear-gradient(290deg, rgba(9, 106, 255, 0.4), rgba(0, 70, 177, 0.72));
    }
    &.bg-orange {
      background-image: linear-gradient(290deg, rgba(255, 168, 1, 0.4), rgba(255, 102, 0, 0.72));
    }
    &.bg-black {
      background-image: linear-gradient(290deg, rgba(94, 93, 93, 0.4), rgba(46, 46, 46, 0.72));
    }
    &.bg-pink {
      background-image: linear-gradient(290deg, rgba(255, 131, 178, 0.4), rgba(255, 68, 226, 0.72));
    }
  }
  .btn-play {
    display: inline-block;
    background-image: url(../images/i-play.svg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 42px;
    font-size: 10px;
    font-family: $font-500;
    line-height: 1.4;
    letter-spacing: 0.6px;
    text-transform: uppercase;
  }
  &__top-item {
    font-size: 14px;
    font-family: $font-300;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #5C5C5C;
    margin: 20px 0 40px;
    &.first {
      padding-right: 80px;
      @media (max-width: 767px) {
        padding-right: 0;
      }
    }
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
      margin: 10px 0 20px;
    }
  }
  .title-gradient {
    font-size: 62px;
    font-family: $font-900;
    letter-spacing: -2px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 1024px) {
      font-size: 52px;
    }
    @media (max-width: 767px) {
      font-size: 42px;
      letter-spacing: -1.5px;
      margin-bottom: 4px;
    }
    &.gradient-blue {
      background-image: linear-gradient(305deg, #096aff, #0046b1);
    }
    &.gradient-black {
      background-image: linear-gradient(282deg, #5e5d5d, #2e2e2e);
    }
    &.gradient-orange {
      background-image: linear-gradient(285deg, #ffa801, #ff6600);
    }
    &.gradient-pink {
      background-image: linear-gradient(281deg, #ff83b2, #ff44e2);
    }
  }
  &__bottom-step {
    position: relative;
    margin-bottom: 56px;
    &.last {
      margin-bottom: 0;
    }
    &:before {
      display: block;
      position: absolute;
      top: 20px;
      width: 100%;
      height: 1px;
      background-color: #C0C3C7;
      content: '';
    }
    &.step-01 {

    }
    &.step-02 {

    }
    &.step-02:before {
      @media (max-width: 767px) {
        width: 200%;
      }
    }
    &.step-03:before {
      width: 200%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &.step-04:before {
      @media (max-width: 767px) {
        width: 200%;
      }
    }
    &.step-04:after {
      display: block;
      position: absolute;
      top: 20px;
      left: calc(-100% + -20px);
      width: 100%;
      height: 1px;
      background-color: #C0C3C7;
      content: '';
    }
    &.step-05:before {
      display: none;
    }
    &.step-05:after {
      @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 20px;
        left: calc(-100% + -20px);
        width: 100%;
        height: 1px;
        background-color: #C0C3C7;
        content: '';
      }
    }
  }
  &__bottom-step-img {
    margin-bottom: 6px;
    img {
      position: relative;
      z-index: 1;
      height: 40px;
      display: block;
      background-color: #f7fbff;
      border-right: 20px solid #f7fbff;
      @media (max-width: 767px) {
        border-right: 12px;
      }
    }
  }
  &__bottom-step-text {
    font-size: 14px;
    font-family: $font-300;
    line-height: 1.71;
    letter-spacing: 0.4px;
    color: #141414;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &__player {
    width: 100%;
    height: 562px;
    @media (max-width: 767px) {
      width: auto;
    }
  }
}

.modal-video {
  width: 1000px;
  max-width: none;
  .modal-content {
    background-color: transparent;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
  }
}