.close {
  position: fixed;
  top: 45px;
  right: 55px;
  display: block;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Museo Sans Cyrl 500', serif;
  img {
    margin-bottom: 8px;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
// stylelint-enable
